.content {
    flex-grow: 1;
    background-color: #282832;
}

.inside-content {
    background-color: #283232;
    margin: 5% 5% 5% 5%;
    opacity: 0.75;
    font-size: 24px;
    text-align: center;
}

.inside-content input {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15%;
    color: black;
}


.inside-content > table > tr > th{
    padding-right: 25%;
}

